<div>
    <img class="card-img-top imageThumbnail crop align-content-center"
         src="@convertImagemToDisplay(@ImagemRemota)" />
</div>

@code {
    [Parameter] public byte[] ImagemRemota { get; set; }

    string convertImagemToDisplay(byte[] image)
    {
        if (image != null)
        {
            var base64 = Convert.ToBase64String(image);
            var finalStr = string.Format("data:image/jpg;base64,{0}",base64);
            return finalStr;
        }
        else
        {
            var finalStr = "/images/Sem-Foto.png";
            return finalStr;
        }
    }
}
