@page "/aluno/edit/{alunoid:int}"
@inject IAlunoService alunoService
@inject NavigationManager navigation

<h2>Editar Aluno</h2>

<AlunoForm Aluno="@aluno" OnValidSubmit="@EditarAluno"
           ButtonTextCancelar="Cancelar"
           ButtonTextSubmit="Salvar">
</AlunoForm>

@code {
    private Aluno aluno = new Aluno();

    [Parameter]
    public int alunoid { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        aluno = await alunoService.GetAluno(alunoid);
    }
    async Task EditarAluno()
    {
        await alunoService.UpdateAluno(aluno);
        navigation.NavigateTo("alunos");
    }
}
