@page "/alunos"
@inject HttpClient http
<h3>Alunos</h3>

@if (Alunos == null)
{
    <img src="images/Carregando.gif" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Idade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aluno in Alunos)
            {
                <tr>
                    <td>@aluno.AlunoId</td>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Email</td>
                    <td>@CalculaIdade(aluno.Nascimento)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public IEnumerable<Aluno> Alunos { get; set; }

    protected async override Task OnInitializedAsync()
    {
           await GetAlunos();
    }

    protected async Task GetAlunos()
    {
        Alunos = await http.GetFromJsonAsync<IEnumerable<Aluno>>("api/alunos");
    }

    private string CalculaIdade(DateTime DataNascimento)
    {
        int anoNascimento = DataNascimento.Year;
        int anoAtual = DateTime.Now.Year;

        if (anoNascimento >= anoAtual)
            return "-";

        return (anoAtual - anoNascimento).ToString();
    }
}
